
<footer>
    <div class="footer">
      <div class="col-md-12 ft">
        <a href="#"><mat-icon aria-hidden="false" fontIcon="mail"></mat-icon></a>
        <a href="#" ><mat-icon aria-hidden="false" fontIcon="facebook"></mat-icon></a>
        <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
     
      </div>
    </div>
  </footer>

  <div class="content" role="main">
    <h1>Welcome</h1>
    <h2>How to Use Debounce Time to Improve the Performance of Your Angular Applications</h2>
    <input type="text" 
    [(ngModel)]="inputText" 
    placeholder="Input something" (input)="onSearch()" />
  <br/>
  </div>