mat-grid-tile {
  border: 1px solid #24d9e9;
  font-size: 10px;
}

.pagi {
  background: rgba(255, 147, 147, 0);
  padding: 0; 
}


.pagina {
  background: transparent !important; 
}


.mat-paginator {
  background: transparent !important; 
}


.mat-paginator-range-actions,
.mat-paginator-controls {
  background: transparent !important; 
}


.mat-paginator-button {
  color: #41ff67; 
}


.mat-paginator-page-size {
  color: #33ff55; /* Màu chữ của phần tử chọn kích thước trang */
}



.sort {
  margin-left: 10px;
  background-color: #ffffff00;
}

.book-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  max-height: 100%;
}

.tab-container {
  display: flex;
  justify-content: flex-end;
}

.right-icon {
  margin-left: auto;
}

.quantity {
  width: 50px;


}

.example-button-container {

  width: 30px;
  height: 30px;
  bottom: 0%;
  color: #f62f02;
  background-color: #24d9e9;
}

.example-button-container1 {

  width: 30px;
  height: 30px;
  bottom: 0%;
  margin-left: 10px;
  color: #f62f02;
  background-color: #24d9e9;

}

.small-text {
  display: inline-block;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}









.container {
  width: 80%;
}

.card {

  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 190px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(248, 96, 96, 0.2), 0 6px 20px 0 rgba(243, 123, 123, 0.755);

}

.image-container {

  position: relative;
}

.thumbnail-image {
  border-radius: 10px !important;
}




.first {

  position: absolute;
  width: 100%;

}


.dress-name {
  font-size: 13px;
  font-weight: bold;
  width: 70%;
}


.new-price {
  font-size: 13px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.791);

}




.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px;
}

.creme {
  background-color: #fff;
  border: 2px solid grey;


}

.creme:hover {
  border: 3px solid grey;
}

.creme:focus {
  background-color: grey;

}


.red {
  background-color: #fff;
  border: 2px solid red;

}


.red:hover {
  border: 3px solid red;
}

.red:focus {
  background-color: red;
}



.blue {
  background-color: #fff;
  border: 2px solid #40C4FF;
}

.blue:hover {
  border: 3px solid #40C4FF;
}

.blue:focus {
  background-color: #40C4FF;
}

.darkblue {
  background-color: #fff;
  border: 2px solid #01579B;
}

.darkblue:hover {
  border: 3px solid #01579B;
}

.darkblue:focus {
  background-color: #01579B;
}

.yellow {
  background-color: #fff;
  border: 2px solid #FFCA28;
}

.yellow:hover {
  border-radius: 3px solid #FFCA28;
}

.yellow:focus {
  background-color: #FFCA28;
}


.thumbnail-image {
  height: 145px;
  /* Đặt chiều cao cố định cho hình ảnh */
  width: auto;
  /* Đảm bảo chiều rộng tự động theo tỷ lệ */
  border-radius: 8px;
  /* Bo tròn góc nếu cần thiết */
  object-fit: cover;
  /* Đảm bảo hình ảnh không bị biến dạng */
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}









.example-list {

  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;

  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list {
  width: 1000px;
  max-width: 100%;
 
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;

  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Adjust this value to center the menu vertically as needed */
}

.filters {
  list-style: none;
  padding: 5px;

  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .filters li {
    margin: 5px;
  }

  .card-body {
    padding: 10px;
  }

  .dist-bottom-row ul {
    flex-direction: column;
  }
}

.filters .filter {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters .filter img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  transition: transform 0.3s ease; /* Transition for image scaling */
}

.filters .filter.active {
  background-color: #ffc107; /* Background color for active filter */
  color: white; /* Text color for active filter */
  border-radius: 10px; /* Smooth border for active item */
  transition: background-color 0.5s ease, color 0.5s ease; /* Transition for background and text color */
}

.filters .filter.active img {
  transform: scale(1.1); /* Slightly scale up the image */
}
/* Đặt phần tử chứa vào giữa màn hình */
.menu-list-row {

  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  flex-direction: column; /* Đặt các phần tử con theo chiều dọc */
  padding: 20px; /* Thêm padding để khoảng cách từ viền */
 
}

/* Đảm bảo rằng các cột được căn giữa */

/* Đảm bảo các hộp món ăn cũng căn giữa trong các cột */
.dish-box-wp {
  display: flex;
  justify-content: center; /* Căn giữa các phần tử con */
 
}

/* Đảm bảo mỗi hộp món ăn có kích thước và căn giữa */


/* Đảm bảo ảnh có kích thước và căn giữa */


/* Đảm bảo các phần tử bên trong hộp món ăn có khoảng cách hợp lý */



.card{

	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 190px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image-container{

	position: relative;
}

.thumbnail-image{
	border-radius: 10px !important;
}


.discount{

	background-color: red;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10px;
	border-radius: 6px;
	color: #fff;
}

.wishlist{

	height: 25px;
	width: 25px;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first{

	position: absolute;
	width: 100%;
	    padding: 9px;
}





.new-price{
	font-size: 13px;
	font-weight: bold;
	color: red;
	
}
.old-price{
	font-size: 12px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.849);
}


.btn{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	padding: 3px;
}

.creme{
	background-color: #fff;
	border: 2px solid grey;
	

}
.creme:hover {
	border: 3px solid grey;
}

.creme:focus {
	background-color: grey;

}
.dist-bottom-row li{
  margin-left: 2px;
}
 .dist-bottom-row ul {
  margin-top: 20px;
  
  display: flex;
  justify-content: space-between;

}
.red{
	background-color: #fff;
	border: 2px solid red;
	
}


.red:hover {
	border: 3px solid red;
}
.red:focus {
	background-color: red;
}



.blue{
	background-color: #fff;
	border: 2px solid #40C4FF;
}

.blue:hover {
	border: 3px solid #40C4FF;
}
.blue:focus {
	background-color: #40C4FF;
}
.darkblue{
	background-color: #fff;
	border: 2px solid #01579B;
}
.darkblue:hover {
	border: 3px solid #01579B;
}
.darkblue:focus {
	background-color: #01579B;
}
.yellow{
	background-color: #fff;
	border: 2px solid #FFCA28;
}
.yellow:hover {
	border-radius: 3px solid #FFCA28;
}
.yellow:focus {
	background-color: #FFCA28;
}


.item-size{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}


.rating-star{
	font-size: 10px !important;
}
.rating-number{
	font-size: 10px;
	color: grey;

}
.buy{
	font-size: 12px;
	color: purple;
	font-weight: 500;
}














.voutchers{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 190px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;

}
.voutcher-divider{

	display: flex;

}
.voutcher-left{
	width: 60%
}
.voutcher-name{
	color: grey;
	font-size: 9px;
	font-weight: 500;
}
.voutcher-code{
	color: red;
	font-size: 11px;
	font-weight: bold;
}
.voutcher-right{
	width: 40%;	 
	background-color: purple;
	color: #fff;
}

.discount-percent{
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.off{
	font-size: 14px;
	position: relative;
	bottom: 5px;
}