<section class="main-banner">
          <div class="js-parallax-scene">
              <div class="banner-shape-1 " data-depth="0.30">
                  <img src="../../../assets/images/anh2.png" alt="">
              </div>
              <div class="banner-shape-2 w-100" data-depth="0.25">
                  <img src="../../../assets/images/anh1.png" alt="">
              </div>
          </div>
          <div class="sec-wp">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="banner-text">
                              <h1 class="h1-title">
                                Welcome to the 
                                  <span>Kien</span>
                                  store.
                              </h1>
                              <!-- <p>This is Lorem ipsum dolor sit amet Nam eius tenetur recusandae optio aperiam.</p> -->
                              <div class="banner-btn mt-4">
                                  <a href="#menu" class="sec-btn">Check our Menu</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="banner-img-wp">
                              <div class="banner-img" style="background-image: url(../../../assets/images/sach.jpg  );">
                              </div>
                          </div>
                          <div class="banner-img-text mt-4 m-auto">
                              <h5 class="h5-title">Minion</h5>
                              <!-- <p>this is Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <div class="menu-tab-wp">
        <div class="row">
          <div class="col-lg-12 m-auto">
            <div class="menu-tab text-center">
              <ul class="filters" >
                <div class="filter-active"></div>
                <li class="filter" (click)="onFilterClick($event)">
                  <!-- <img src="path/to/all.png" alt="All"> -->
                  All
                </li>
                <li class="filter" *ngFor="let genre of genres" (click)="onFilterClick($event)">
                  <!-- <img src="path/to/breakfast.png" > -->
                  {{genre.name}}
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>







<div class="menu-list-row">
  <div class="row g-xxl-5 bydefault_show" id="menu-dish" >
   
    <div class="col-lg-3 col-sm-7 dish-box-wp breakfast"*ngFor="let book of pagedBooks" data-cat="breakfast">
      <div class="dish-box text-center">
        <div class="dist-img">
          <img [src]="'../../../assets/images/' + getImageUrl(book.image)" alt="">
        </div>
        <div class="dish-rating">
          {{book.genreName}}
          <!-- <i class="uil uil-star"></i> -->
        </div>
        <div class="dish-title">
          <h3 class="h3-title">{{ book.title }}</h3>
          <p>{{ book.description }}</p>
        </div>
        <div class="dish-info">
          <ul>
            <li>
              <p>Quantity</p>
              <b>{{book.stock_quantity}}</b>
            </li>
            <li>
              <p>Publish date</p>
              <b>{{book.published_date|date}}</b>
            </li>
            
          </ul>
        </div>
        <div class="dist-bottom-row">
          <ul>
            <li>
              <b>{{book.price|price}}</b>  
            </li>
            <li>
              <button *ngIf="isrole" routerLink='/book/edit/{{ book.bookID }}' class="dish-add-btn">
                <i class="uil "><mat-icon>edit</mat-icon></i>
              </button>

            </li>
            <li>
              <button (click)="addTocart(book)" class="dish-add-btn">
                <i class="uil "><mat-icon>store</mat-icon></i>
              </button>

            </li>
            <li>
              <button *ngIf="isrole" (click)="openDialog(book)" class="dish-add-btn">
                <i class="uil "> <mat-icon>delete</mat-icon></i>
              </button>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>








    <div class="sort">
      <table matSort (matSortChange)="sortData($event)">
        <thead>
          <tr>
            <th mat-sort-header="price">Price</th>
            <th mat-sort-header="quantity">Quantity</th>
          </tr>
        </thead>
      </table>
    </div>
    <div>


   

      <div class="pagi">
        <mat-paginator class="col-md-8 pagina" [length]="totalBooks" [pageSize]="pageSize"
          [pageSizeOptions]="[1, 2, 3, 4]" (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>