mat-grid-tile {
  border: 1px solid #24d9e9;
  font-size:10px;
}
mat-grid-list{
 
}
.book-image {
  max-width: 100%; /* Ensure image doesn't exceed its container's width */
  height: auto; /* Allow the image to scale proportionally */
  display: block; /* Ensure image behaves as a block element */
  margin: auto; /* Center the image horizontally (if needed) */
  max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

  .quantity {
    width: 50px; /* Adjust width as needed */
    
    
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }