
  <table matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="price">Price</th>
        <th mat-sort-header="quantity">Quantity</th>
      </tr>
    </thead>
  </table>
  <mat-grid-list cols="8" rowHeight="4:1" gutterSize="0px" >
  <mat-grid-tile>image</mat-grid-tile>
  <mat-grid-tile>Title</mat-grid-tile>
  <mat-grid-tile>Description</mat-grid-tile>
  <mat-grid-tile>Genre</mat-grid-tile>
  <mat-grid-tile>Price</mat-grid-tile>
  <mat-grid-tile>Quantity</mat-grid-tile>
  <mat-grid-tile>Publish Date</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
      <mat-grid-list cols="8" rowHeight="6:3"   gutterSize="0px" *ngFor="let book of pagedBooks">
        <mat-grid-tile> <img [src]="'../../../assets/images/' + getImageUrl(book.image)" class="img img-responsive book-image" ></mat-grid-tile>
        <mat-grid-tile>{{ book.title }}</mat-grid-tile>
        <mat-grid-tile class=" overflow-auto">{{ book.description }}</mat-grid-tile>
        <mat-grid-tile>{{book.genreName}}</mat-grid-tile>
        <mat-grid-tile>{{book.price|price}}</mat-grid-tile>
        <mat-grid-tile  class="quantity">{{book.stock_quantity}}</mat-grid-tile>
        <mat-grid-tile>{{book.published_date|date}}</mat-grid-tile>
        <mat-grid-tile>
          <div class="d-flex example-button-container" >
            <button class="example-button-container" routerLink='/book/edit/{{ book.bookID }}' mat-fab aria-label="Example icon button with a delete icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="example-button-container"(click)="openDialog(book)" mat-fab aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          
          </div>
        </mat-grid-tile>
      </mat-grid-list>
   


  
  <div class="pagi">
    <mat-paginator class="col-md-8 pagina"  [length]="totalBooks" [pageSize]="pageSize" [pageSizeOptions]="[1, 2, 3, 4]"
      (page)="onPageChange($event)">
    </mat-paginator>
</div>
