<section class="vh-auto " style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center  align-items-center h-100">
        <div class="col-xl-6">
          <form [formGroup]="addForm" (ngSubmit)="handleAdd()">
          <h1 class="text-white mb-3">Add Product</h1>
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-3 ps-1">
                  <h6 class="mb-0"></h6>
                </div>
                <div class="col-md-8">
     
                  <mat-form-field class="custom-width" hintLabel="Max 30 characters">
                    <mat-label>Enter name book</mat-label>
                    <input matInput #input maxlength="30" formControlName="name" placeholder="Ex. Nougat"  />
                    <mat-hint align="end">{{value().length}}/30</mat-hint>
                  </mat-form-field>
                </div>
                <hr class="mx-n3">
                <div class="px-4 py-1 add">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-primary btn-lg"  >ADD</button>
                </div>
            </div>
            </div>
          </div>
          <!-- </form> -->
          </form>
        </div>
  
      </div>
    </div>